__pycache__/
morph0/
morph1/
morph2/
morph3/
morph4/
means.npy
evals.npy
evecs.npy
model.png
stds.npy
x_data.npy
y_data.npy
evals.png
rand0.png
rand1.png
rand2.png
rand3.png
rand4.png
rand5.png
rand6.png
rand7.png
